// app global css in SCSS form
.pill {
  border-radius: 100vh;
}

.my-input {
  background: transparent;
  border: none;
  outline: none;
}

pre {
  border: none;
  background-color: #1f1f1f;
  filter: brightness(1.2);
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-h-75:hover {
  opacity: 0.75;
}

.transition-025 {
  transition: all 0.25s;
}

.flat-line-height {
  line-height: 1;
}
