// app global css in SCSS form
h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  letter-spacing: normal;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

.pill {
  border-radius: 100vh;
}

.square {
  aspect-ratio: 1;
}

.my-input {
  background: transparent;
  border: none;
  outline: none;
}

.input-border {
  border: 2px solid $secondary;
  border-radius: 1rem;
}

pre {
  border: none;
  background-color: #1f1f1f;
  filter: brightness(1.2);
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-h-75:hover {
  opacity: 0.75;
}

.transition-025 {
  transition: all 0.25s;
}

.flat-line-height {
  line-height: 1;
}
