// app global css in SCSS form
.pill {
  border-radius: 100vh;
}

.my-input {
  background: transparent;
  border: none;
  outline: none;
}

pre {
  border: none;
  background-color: #1f1f1f;
  filter: brightness(1.2);
  padding: 1rem;
  border-radius: 1rem;
  margin: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.flat-line-height {
  line-height: 1;
}